* {
    font-family: sans-serif;
    text-align: center;
}

button {
    background-color: rgb(7, 155, 155);
    border-radius: 8px;
    border: none;
    color: rgb(245, 245, 245);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}

#field {
height: 100px;
width: 100px;
padding: 50px;
margin: 50px auto;
border: 1px solid grey;
border-radius: 10px;
font-size: 80px;
}